.navigation {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.template {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.template h4 {
  margin: 0;
  margin-bottom: 5px;
}

.template:hover {
  background-color: #ddd;
}

.template.selected {
  background-color: #007bff;
  color: white;
}
