.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  background-color: white;
  border-top: 1px solid #ddd;
  /* margin-top: 50px; */
}

.next2-button {
  padding: 10px 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
}

.next2-button:hover {
  background-color: #0056b3;
}